/* сброс, пустой холст */
body, h1, h2, h3, h4, p, a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;   }

body {
  font-family: 'Helvetica', 'Arial', sans-serif; }

header {
  height: 100vh;
  background-color: #eee;
  background-image: url(https://pictures.s3.yandex.net/frontend-developer/free-course/cover.jpg);
  background-size: cover;
  background-position: center;
  text-align: center; }

h1 {
  font-size: 140px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 100px; }


/* классы */
.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.button {
  width: 130px;
  height: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.5;
}

.image {
  width: 80%;
  display: block;
  margin: 60px auto 50px;
}

.advice {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 70px;
}

.footer {
  font-size: 16px;
  margin: 0;
  position: absolute;
  bottom: 36px;
}


